@using MeuSiteMVC.Enums
@model UserModel


@{
    ViewData["Title"] = "Register new user";
}
<div class="text-center">

    <h1 class="display-5 mb-5">@ViewData["Title"]</h1>

</div>
    <form asp-controller="User" asp-action="Create" method="post">
        <div class="form-group">
            <label for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Enter the user's name">
            <div class="text-danger">
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Enter the user's E-mail">
            <div class="text-danger">
                @Html.ValidationMessageFor(x => x.Email)
            </div>

        </div>
        <div class="form-group">
            <label for="Phone">Login</label>
        <input type="text" class="form-control" asp-for="Login" placeholder="Enter the user's Login">
            <div class="text-danger">
                @Html.ValidationMessageFor(x => x.Login)
            </div>

        <div class="form-group mt-4">
            <label for="Phone">Perfil</label>
            <select asp-for="Perfil" class="form-control">
                <option value="0">--Select--</option>
                <option value="@PerfilEnum.Admin">Admin</option>
                <option value="@PerfilEnum.Default">Default</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Phone">Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Enter the user's Pass">
            <div class="text-danger">
                @Html.ValidationMessageFor(x => x.Login)
            </div>

        </div>
       
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="User" asp-action="Index">Back to list</a>
    </form>


