@model List<UserModel>
@using MeuSiteMVC.Enums;

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a asp-controller="User" asp-action="Create" class="btn btn-success" role="button">Create New User</a>
    </div>

    @if (TempData["messageSuccess"] != null)
    {
        <div class="alert alert-success mt-3" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert text-left text-white" aria-label="Close">X</button>
            <p class="mt-3" style="font: bold;">@TempData["messageSuccess"]</p>
        </div>   
    }

    @if (TempData["messageError"] != null)
    {
        <div class="alert alert-danger position-relative mt-3" role="alert">
            <button type="button" class="btn text-white btn-sm close-alert text-left" aria-label="Close">X</button>
            <p>@TempData["messageError"]</p>
        </div>
    }



    <h1 class="display-5 mb-5">User List</h1>


    <table class="table" id="table-contacts">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil</th>
                <th scope="col">Total Contacts</th>
                <th scope="col">Registration Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(var user in Model)
                {
                    <tr>
                        <th scope="row">@user.ID</th>
                        <td>@user.Name</td>
                        <td>@user.Login</td>
                        <td>@user.Email</td>
                        <td>@user.Perfil</td>
                        <td>
                            <button type="button" user-id="@user.ID" class="btn btn-success btn-sm btn-total-contacts" data-bs-toggle="modal" data-bs-target="#modalContactsUser">
                                @(user.Contacts != null && user.Contacts.Any() ? user.Contacts.Count() : 0)
                            </button>


                        </td>
                        <td>@user.DataRegistration</td>
                        <td>


                            <div>
                                <a role="button" class="btn btn-primary btn-sm text-white" asp-route-id="@user.ID" asp-controller="User" asp-action="Editar">Edit</a>
                                <a role="button" class="btn btn-danger btn-sm text-white" asp-route-id="@user.ID" asp-controller="User" asp-action="DeleteConfirm">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5" style="color:gray;">no contacts were found</td></tr>
            }

        </tbody>
    </table>

    <div class="modal fade" id="modalContactsUser" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">User Contacts List</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <div id="contacts-list">
                    
                </div>
          </div>
        </div>
      </div>
    </div>


</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



